body {
    margin: 0;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-schedule div {
    background: rgba(0, 0, 0, 0.2);
    padding: 20px 50px;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
}

.time-container {
    font-size: 40px;
    padding: 40px 10px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(55px);
    border-radius: 30px;
    font-size: 30px;
    color: white;
}

.text {
    font-size: 15px;
}

.refresh {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}

.refresh-icon {
    width: 20px;
    height: 20px;
    position: relative;
    border: 3px solid #ffffff;
    border-radius: 50%;
    border-top-color: transparent;
    transform: rotate(45deg);
}

.refresh-icon::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 0px;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
    transform: rotate(45deg);
}

.time-blackout-warning {
    color: red;
    /* font-size: 50px; */
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

.time-left {
    text-align: center;
}

.icon {
    transform: rotate(45deg);
    transition: .3s;
    padding: 15px;
    margin: -15px;
}

@keyframes spinOnce {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(405deg);
    }
}

.icon:hover {
    transform: scale(1.2) rotate(45deg);
}

.spin {
    animation: spinOnce 0.5s forwards;
    pointer-events: none;
}

.hidden {
    display: none !important;
}

.time-schedule div:not(.awaiting-blackout) {
    opacity: 0.4
}

.time-schedule {
    margin: 20px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    /* transition: 1s; */
    overflow: hidden;
    transition: height .3s ease;
}

.time-schedule div {
    position: relative;
}

.shutdown-left-hours {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
}

.time-container {
    position: relative;
}

.group-selector {
    /* position: absolute;
    top: 20px;
    right: 20px; */
    font-size: 25px;
    background: rgba(0, 0, 0, 0.2);
    color: grey !important;
    border: none;
    outline: none;
    color: white;
    height: 50px;
    width: 65px;
    text-align: center;
}

.group {
    height: 50px;
    font-size: 25px;
    width: 65px;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-selector-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.groups {
    display: flex;
    gap: 10px;
    flex-direction: column;
    color: gray;
    transition: .2s;
    opacity: 1;
    top: 0;
    z-index: 1;
    position: relative;
}

.hidden-groups-animation {
    top: -60px;
    opacity: 0;
    z-index: -1;
}

.group-selector:focus {
    background: rgba(0, 0, 0, 0.4);
}

/* .group-selector:focus + .groups {
    background: rgba(0, 0, 0, 0.4); 
} */